services:
    gravitlauncher:
        image: ghcr.io/gravitlauncher/launcher:v5.7.5
        restart: always
        stdin_open: true
        tty: true
        volumes:
        - launcher:/app/data
        environment:
            ADDRESS: "LAUNCHSERVER_ADDRESS_PLACEHOLDER"
            PROJECTNAME: "GravitLauncher"
    simplecabinet:
        image: ghcr.io/simplecabinet/simplecabinetwebapi:sha-fb016af
        restart: always
        stdin_open: true
        tty: true
        environment:
            DB_HOST: "postgres"
            DB_PORT: "5432"
            DB_NAME: "simplecabinet"
            DB_USER: "simplecabinet"
            DB_PASSWORD: "yourpassword"
            STORAGE_FILE_REMOTE_URL: "SIMPLECABINET_REMOTE_URL_PLACEHOLDER"
        volumes:
        - simplecabinet:/app/data
        - assets:/app/data/assets
        depends_on:
            - postgres
    postgres:
        image: postgres:18
        restart: always
        environment:
            POSTGRES_DB: "simplecabinet"
            POSTGRES_USER: "simplecabinet"
            POSTGRES_PASSWORD: "yourpassword"
        volumes:
            - postgres-database:/var/lib/postgresql/data
    nginx:
        build:
            context: .
            dockerfile: Dockerfile.nginx
        restart: always
        volumes:
            - launcher:/volume
            - assets:/assets
        ports:
            - 17549:80
        depends_on:
            - gravitlauncher
volumes:
    launcher:
    assets:
    simplecabinet:
    postgres-database:
